html, body {
	margin: 0%; 
    padding: 0%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1 {
	text-align: left;
	font-family: 'Lora', serif;
	font-size: 1.5vw;
}

h2 {
	text-align: right;
	font-family: 'Lora', serif;
	font-size: 1.5vw;
	margin-top: -13.6%;
}

h3 {
	text-align: center;
	font-family: 'Lora', serif;
	font-size: 1vw;
	margin-top: -4.6%;
}

h4 {
	text-align: center;
	font-family: 'Lora', serif;
	font-size: 2vw;
	margin-right: 0%;
	margin-left: 0%;
	margin-top: 5%;
	margin-bottom: 5%;
}

h5 {
	text-align: center;
	font-family: 'Lora', serif;
	font-size: 1vw;
	margin-top: 4%;
}

h6 {
	text-align: center;
	font-size: 1vw;
	font-weight: 100;
	color: white;
	font-family: 'Lora', serif;
	margin-top: 2%;
}

h7 {
	text-align: center;
	font-size: 1.3vw;
	font-weight: 100;
	color: black;
	font-family: 'Lora', serif;
	margin-left: 2%;
	
}


.logo {
	position: relative;
	width: 18%;
	margin-left: 0%;
}

.create_post {
	position: relative;
	width: 29%;
	height: 80%;
	font-size: 1.2vw;
	cursor: pointer;
	background-color: #660099;
	color: white;
	text-align: center;
	border: none;
	float: left;
	margin: 1.5%;
	font-family: 'Lora', serif;
	font-weight: 100;
}

.login {
	position: relative;
	width: 29%;
	height: 80%;
	font-size: 1.2vw;
	cursor: pointer;
	background-color: #660099;
	color: white;
	text-align: center;
	border: none;
	float: left;
	margin: 1.5%;
	font-family: 'Lora', serif;
	font-weight: 100;
}

.sign_up {
	position: relative;
	width: 29%;
	height: 80%;
	font-size: 1.2vw;
	cursor: pointer;
background-color: #660099;
	color: white;
	text-align: center;
	border: none;
	float: left;
	margin: 1.5%;
	font-family: 'Lora', serif;
	font-weight: 100;
}

.jobs {
	position: relative;
	width: 80%;
	padding: 10%;
}

.container {
	font-size: 1.5vw;
}

input.box {
	height: 1%;
	width: 5%;
}


#buttons {
	position: absolute;
	width: 23%;
	height: 40%;
	margin-left: 72.5%;
	margin-top: -9%;
}

#header {
	position: absolute;
	width: 100%;
	height: 100%;
}

#inner_header {
	position: relative;
	background-color: #d1b2e0;
	padding-left: 4%;
	padding-top: 3%;
	padding-bottom: 0%;
	margin-top: -7%;
	margin-right: -3%;
	margin-left: -3%;
	width: 100%;
	height: 9.2vw;
}

#searchbar {
	position: absolute;
	width: 50%;
	height: 40%;
	margin-left: 20%;
	margin-top: -9%;
}

#searchbar input {
	position: relative;
	width: 100%;
	margin-top: 1.8%;
	height: 50%;
	font-size: 1.3vw;
}

#left_side {
	position: absolute;
	background-color: #99add6;
	margin-top: 5.3%;
	width: 20%;
	height: 90vw;
	float: left;
}

#right_side {
	background-color: #F6EEE8;
	position: absolute;
	margin-top: 5.3%;
	margin-left: 20%;
	width: 80%;
	height: 90vw;
}

#bottom {
	background-color: #3d005b;
	position: absolute;
	margin-top: 96%;
	width: 100%;
	height: 8vw;
}

#column_1 {
	background-color: white;
	position: absolute;
	width: 33.3%;
	height: 100%;
}

#column_2 {
	background-color: white;
	position: absolute;
	margin-left: 33.3%;
	width: 33.3%;
	height: 100%;
}

#column_3 {
	background-color: white;
	position: absolute;
	margin-left: 66.6%;
	width: 33.3%;
	height: 100%;
}

#caption {
	background-color: #DECFCF;
	width: 79%;
	height: 4.5vw;
	margin-left: 10%;
	margin-top: -14%;
	padding: .5%;
}

#searchbar_2{
	margin-left: 1%;
	margin-top: 3%;
}

#searchbar_2 input {
	position: relative;
	font-size: 1.3vw;
}


